# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Editors
*~
.*.swp
.#*
\#*#
.vscode
.DS_Store

# Ignore downloaded files
/configgenerator/template/bin

# Debian package
/work
/neco_*_amd64.deb
/op-work
/op-work-mac
/op-work-win
/neco-operation-cli-linux_*_amd64.deb
/neco-operation-cli-mac_*_amd64.zip
/neco-operation-cli-windows_*_amd64.zip

# misc
/build
/download
github-token
