version: 2
jobs:
  build:
    docker:
    - image: quay.io/cybozu/golang:1.11-bionic
    - image: quay.io/coreos/etcd:v3.3
    working_directory: /work
    steps:
    - checkout
    - run: test -z "$(gofmt -s -l . | grep -v '^vendor' | tee /dev/stderr)"
    - run: golint -set_exit_status $(go list -mod=vendor ./... | grep -v /vendor/)
    - run: go build -mod=vendor ./...
    - run: go test -mod=vendor -race -v ./...
    - run: go vet -mod=vendor ./...
  dctest:
    docker:
      - image: google/cloud-sdk
    steps:
      - checkout
      - run:
          name: Store Service Account
          command: |
            echo $GCLOUD_SERVICE_ACCOUNT > account.json
            gcloud auth activate-service-account --key-file=account.json
      - run:
          name: Watch console on boot-0
          command: |
            ./bin/watch_boot0
          background: true
      - run:
          command: |
            ./bin/run-dctest.sh

workflows:
  version: 2
  main:
    jobs:
      - build
      - dctest
