[Unit]
Description=Setup lvmd for TopoLVM
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-lvmd
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console


[Install]
WantedBy=multi-user.target
