[Unit]
Description=ckecli etcd local-backup
After=cke.service

[Service]
Type=oneshot
ExecStartPre=/bin/mkdir -p /var/cke/etcd-backups
ExecStart=/usr/local/bin/ckecli etcd local-backup
