[Unit]
Description=Run cke-localproxy
Wants=network-online.target cke.service docker.service
After=network-online.target cke.service docker.service
ConditionPathExists=/etc/cke/config.yml
ConditionPathExists=/etc/cke/etcd.crt
ConditionPathExists=/etc/cke/etcd.key
StartLimitIntervalSec=600s

[Service]
Type=simple
Restart=on-failure
RestartForceExitStatus=SIGPIPE
RestartSec=30s
ExecStart=/usr/sbin/cke-localproxy --config=/etc/cke/config.yml

[Install]
WantedBy=multi-user.target
