[Unit]
Description=Ingress Watcher for Bastion Network
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=600s

[Service]
Slice=system.slice
Type=simple
Restart=on-failure
RestartSec=30s
ExecStart=/bin/sleep infinity

[Install]
WantedBy=multi-user.target

# this file is required to "systemctl start ingress-watcher" in postinst
