[Unit]
Description=ingress-watcher for bastion-network
After=network-online.target sabakan.service setup-hw.service serf.service
Wants=network-online.target sabakan.service setup-hw.service serf.service
StartLimitIntervalSec=600s

[Service]
Type=simple
Restart=on-failure
RestartForceExitStatus=SIGPIPE
RestartSec=10s
ExecStart=/usr/bin/rkt run \
    --pull-policy never \
    --net=host \
    --dns=host \
    --hosts-entry=host \
    --hostname=%H \
    --volume certs,kind=host,source=/etc/ssl/certs,readOnly=true \
    --mount volume=certs,target=/etc/ssl/certs \
    --volume conf,kind=host,source=/etc/cke,readOnly=true \
    --mount volume=conf,target=/etc/cke \
    {{ .Image }} \
      --name cke \
      --readonly-rootfs=true \
    -- \
      --config={{ .ConfFile }}

[Install]
WantedBy=multi-user.target
