[Unit]
Description=neco worker
After=network-online.target
Wants=network-online.target
ConditionPathExists=/etc/neco/config.yml
StartLimitIntervalSec=600s
StartLimitBurst=30

[Service]
Type=simple
Restart=on-failure
RestartForceExitStatus=SIGPIPE
RestartSec=1s
ExecStart=/usr/sbin/neco-worker

[Install]
WantedBy=multi-user.target
