[Unit]
Description=Node exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartForceExitStatus=SIGPIPE
ExecStart=/usr/sbin/node-exporter/node-exporter

[Install]
WantedBy=multi-user.target
