[Unit]
Description=Node exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartForceExitStatus=SIGPIPE
ExecStartPre=/bin/mkdir -p /var/lib/node_exporter/textfile
ExecStart=/usr/sbin/node_exporter --collector.textfile.directory /var/lib/node_exporter/textfile

[Install]
WantedBy=multi-user.target
