[Unit]
Description=rkt gc
After=network-online.target
Wants=network-online.target
ConditionPathExists=/usr/bin/rkt

[Service]
Type=oneshot
ExecStart=/usr/bin/rkt gc
