[Unit]
Description=run rkt gc periodically
ConditionPathExists=/usr/bin/rkt

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
