[Unit]
Description=Sabakan state setter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/sabakan-state-setter -config-file=/usr/share/neco/sabakan-state-setter.yml
