[Unit]
Description=run sabakan-state-setter
PartOf=sabakan-state-setter.service

[Timer]
OnCalendar=*:*:0/10
Persistent=true

[Install]
WantedBy=timers.target
