[Unit]
Description=Sabakan state setter
After=network-online.target sabakan.service setup-hw.service serf.service
Wants=network-online.target sabakan.service setup-hw.service serf.service
StartLimitIntervalSec=600s

[Service]
Type=simple
Restart=on-failure
RestartForceExitStatus=SIGPIPE
RestartSec=10s
ExecStart=/usr/bin/sabakan-state-setter -config-file=/usr/share/neco/sabakan-state-setter.yml

[Install]
WantedBy=multi-user.target
