[Unit]
Description=setup-partition
Wants=sabakan-cryptsetup.service
After=sabakan-cryptsetup.service
DefaultDependencies=no
FailureAction=reboot-immediate

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-partition
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
