[Unit]
Description=BIRD container
Requires=setup-network.service docker.socket
After=setup-network.service docker.socket

[Service]
Type=simple
KillMode=mixed
Restart=on-failure
RestartForceExitStatus=SIGPIPE
ExecStartPre=-/usr/bin/docker kill bird
ExecStartPre=-/usr/bin/docker rm bird
ExecStartPre=/usr/bin/docker load -i /tmp/{{ Metadata "bird.img" }}
ExecStart=/usr/bin/docker run \
  --name bird \
  --label name=bird \
  --network=host \
  --cap-drop=all \
  --cap-add=NET_ADMIN \
  --cap-add=NET_BIND_SERVICE \
  --cap-add=NET_RAW \
  --ulimit memlock=-1 \
  --oom-kill-disable \
  --cpu-rt-runtime=950000 \
  --ulimit rtprio=99 \
  --read-only \
  -v /etc/bird:/etc/bird:ro \
  --mount type=tmpfs,destination=/run/bird,tmpfs-mode=0700 \
  {{ Metadata "bird.ref" }}

[Install]
WantedBy=multi-user.target
