[Unit]
Description=Wait for BIRD to receive routes
After=bird.service
Requires=bird.service
Before=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/sbin/bird-wait
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console


[Install]
WantedBy=multi-user.target
