[Unit]
Description=monitor chrony periodically
Wants=chronyd.service chrony-wait.service
After=chronyd.service chrony-wait.service

[Timer]
OnActiveSec=30
OnUnitActiveSec=30

[Install]
WantedBy=multi-user.target
