[Unit]
Description=Chrony container
Requires=var-lib-rkt.mount
Wants=neco.target tune-rt-runtime.service
After=neco.target var-lib-rkt.mount tune-rt-runtime.service
Conflicts=systemd-timesyncd.service ntpd.service

[Service]
Slice=machine.slice
CPUSchedulingPolicy=rr
CPUSchedulingPriority=99
Type=simple
KillMode=mixed
Restart=on-failure
RestartForceExitStatus=SIGPIPE
OOMScoreAdjust=-1000
LimitMEMLOCK=infinity
ExecStartPre=/usr/bin/rkt fetch --insecure-options=image {{ MyURL }}/api/v1/assets/{{ Metadata "chrony.aci" }}
ExecStartPre=/opt/sbin/setup-chronyd-conf
ExecStart=/usr/bin/rkt run \
  --insecure-options=seccomp,image \
  --volume etc,kind=host,source=/etc/chrony.conf,readOnly=true \
  --volume run,kind=empty,readOnly=false,mode=0700 \
  --volume volume-var-lib-chrony,kind=empty,readOnly=false,mode=0755 \
  --net=host \
  {{ Metadata "chrony.ref" }} \
    --name chrony --user-label name=chrony \
    --readonly-rootfs=true \
    --caps-retain=CAP_NET_BIND_SERVICE,CAP_SYS_TIME,CAP_SYS_NICE \
    --mount volume=etc,target=/etc/chrony.conf \
    --mount volume=run,target=/run/chrony \
    --mount volume=volume-var-lib-chrony,target=/var/lib/chrony

[Install]
WantedBy=multi-user.target
