[Unit]
Description=Chrony container
Requires=docker.service
Wants=network-online.target
After=network-online.target docker.service
Conflicts=systemd-timesyncd.service ntpd.service

[Service]
Type=simple
KillMode=mixed
Restart=on-failure
RestartForceExitStatus=SIGPIPE
ExecStartPre=-/usr/bin/docker kill chrony
ExecStartPre=-/usr/bin/docker rm chrony
ExecStartPre=/opt/bin/load-docker-image {{ MyURL }}/api/v1/assets/{{ Metadata "chrony.img" }} {{ Metadata "chrony.ref" }}
ExecStart=/usr/bin/docker run \
  --name chrony \
  --log-driver=journald \
  --net=host \
  --privileged \
  --cap-drop=all \
  --cap-add=NET_BIND_SERVICE \
  --cap-add=SYS_TIME \
  --cap-add=SYS_NICE \
  --ulimit memlock=-1 \
  --oom-kill-disable \
  --read-only \
  -v /etc/chrony.conf:/etc/chrony.conf:ro \
  --mount type=tmpfs,destination=/run/chrony,tmpfs-mode=0700 \
  --mount type=tmpfs,destination=/var/lib/chrony,tmpfs-mode=0755 \
   {{ Metadata "chrony.ref" }}

[Install]
WantedBy=multi-user.target
