[Unit]
Description=Load hyperkube image for CKE
Wants=network-online.target
Requires=docker.service
After=network-online.target docker.service wait-k8s-containerd-socket.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/bin/load-docker-image \
  {{ MyURL }}/api/v1/assets/{{ Metadata "cke:hyperkube.img" }} {{ Metadata "cke:hyperkube.ref" }}
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target
