[Unit]
Description=Load container images for CKE
Wants=neco.target docker.socket
After=neco.target docker.socket

[Service]
Type=oneshot

ExecStart=/opt/bin/load-image \
  {{ MyURL }}/api/v1/assets/%%ETCD_FILE%% %%ETCD_NAME%%
ExecStart=/opt/bin/load-image \
  {{ MyURL }}/api/v1/assets/%%TOOLS_FILE%% %%TOOLS_NAME%%
ExecStart=/opt/bin/load-image \
  {{ MyURL }}/api/v1/assets/%%HYPERKUBE_FILE%% %%HYPERKUBE_NAME%%
ExecStart=/opt/bin/load-image \
  {{ MyURL }}/api/v1/assets/%%PAUSE_FILE%% %%PAUSE_NAME%%
ExecStart=/opt/bin/load-image \
  {{ MyURL }}/api/v1/assets/%%COREDNS_FILE%% %%COREDNS_NAME%%
ExecStart=/opt/bin/load-image \
  {{ MyURL }}/api/v1/assets/%%UNBOUND_FILE%% %%UNBOUND_NAME%%

[Install]
WantedBy=multi-user.target
