[Unit]
Description=Load coil container image
Wants=neco.target
Requires=docker.socket
After=neco.target docker.socket

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/bin/load-image {{ MyURL }}/api/v1/assets/%%coil%img%% %%coil%full%%

[Install]
WantedBy=multi-user.target
