[Unit]
Description=Disable network device offload
After=neco-wait-dhcp-online.service
Before=network-online.target
ConditionVirtualization=!kvm

[Service]
Type=oneshot
ExecStart=/opt/sbin/disable-nic-offload
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console


[Install]
WantedBy=multi-user.target
