[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.com
# To start docker.service before bird.service starts, we remove the dependency on network-online.target
# Wants=network-online.target
# After=containerd.service docker.socket network-online.target
After=containerd.service docker.socket
Requires=containerd.service docker.socket
Requires=var-lib-docker.mount var-lib-kubelet.mount

[Service]
Type=notify
EnvironmentFile=-/run/flannel/flannel_docker_opts.env
Environment=DOCKER_SELINUX=--selinux-enabled=true

# settings for Neco
{{ if eq (Metadata "proxy_url") "" }}
Environment="HTTP_PROXY=http://{{ index .Spec.IPv4 0 }}:30128"
Environment="HTTPS_PROXY=http://{{ index .Spec.IPv4 0 }}:30128"
{{ else }}
Environment="HTTP_PROXY={{ Metadata "proxy_url" }}"
Environment="HTTPS_PROXY={{ Metadata "proxy_url" }}"
{{ end }}
Environment=DOCKER_OPTS="--bridge=none --iptables=false --ip-masq=false --dns=127.0.0.1"
LimitMEMLOCK=infinity

# the default is not to use systemd for cgroups because the delegate issues still
# exists and systemd currently does not support the cgroup feature set required
# for containers run by docker
ExecStart=/usr/bin/dockerd --host=fd:// --containerd=/var/run/docker/libcontainerd/docker-containerd.sock $DOCKER_SELINUX $DOCKER_OPTS $DOCKER_CGROUPS $DOCKER_OPT_BIP $DOCKER_OPT_MTU $DOCKER_OPT_IPMASQ
ExecReload=/bin/kill -s HUP $MAINPID
LimitNOFILE=1048576
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNPROC=infinity
LimitCORE=infinity
# Uncomment TasksMax if your systemd version supports it.
# Only systemd 226 and above support this version.
TasksMax=infinity
TimeoutStartSec=0
# set delegate yes so that systemd does not reset the cgroups of docker containers
Delegate=yes
# kill only the docker process, not all processes in the cgroup
KillMode=process
# restart the docker process if it exits prematurely
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
