[Unit]
Description=Run setup-hw tool
Requires=setup-hw.service setup-bmc-user.service
After=setup-hw.service setup-bmc-user.service

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-hw
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
