[Unit]
Description=Stop tracking UDP packets for DNS
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/iptables -t raw -A PREROUTING -p udp -m udp --dport 53 -j NOTRACK
ExecStart=/usr/sbin/iptables -t raw -A OUTPUT -p udp -m udp --sport 53 -j NOTRACK
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console
