[Unit]
Description=containerd container runtime for kubernetes
ConditionPathExists=/etc/k8s-containerd/config.toml
Wants=setup-k8s-containerd.service
After=setup-k8s-containerd.service

[Service]
Delegate=yes
KillMode=process
Restart=always
ExecStartPre=-/sbin/modprobe overlay
ExecStartPre=/bin/mkdir -p /var/lib/k8s-containerd
ExecStartPre=/bin/mkdir -p /run/k8s-containerd
ExecStart=/opt/sbin/containerd --config /etc/k8s-containerd/config.toml
{{ if eq (Metadata "proxy_url") "" }}
Environment="HTTP_PROXY=http://{{ index .Spec.IPv4 0 }}:30128"
Environment="HTTPS_PROXY=http://{{ index .Spec.IPv4 0 }}:30128"
{{ else }}
Environment="HTTP_PROXY={{ Metadata "proxy_url" }}"
Environment="HTTPS_PROXY={{ Metadata "proxy_url" }}"
{{ end }}
Environment="NO_PROXY=*.registry.svc"

# (lack of) limits from the upstream docker service unit
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity

[Install]
WantedBy=multi-user.target
