[Unit]
Description=Wait for Network to be assigned via DHCP
DefaultDependencies=no
After=network.target
Before=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/sbin/neco-wait-dhcp-online
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
