[Unit]
Description=Wait for DHCP network to become available
DefaultDependencies=no
After=systemd-networkd.service
Before=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/sbin/neco-wait-dhcp-online
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console


[Install]
WantedBy=multi-user.target
