[Unit]
Description=Node exporter
Wants=network-online.target
Requires=setup-node-exporter.service
After=network-online.target setup-node-exporter.service

[Service]
Type=simple
Restart=always
ExecStart=/opt/sbin/node_exporter

[Install]
WantedBy=multi-user.target
