[Unit]
Description=Node exporter
Requires=setup-node-exporter.service
After=setup-node-exporter.service

[Service]
Type=simple
Restart=always
ExecStart=/opt/sbin/node_exporter --collector.textfile.directory=/var/lib/textfile-collector --no-collector.ipvs

[Install]
WantedBy=multi-user.target
