[Unit]
Description=OMSA container
Requires=setup-omsa.service
After=setup-omsa.service
ConditionVirtualization=!kvm

[Service]
Slice=machine.slice
Type=simple
KillMode=mixed
Restart=on-failure
RestartForceExitStatus=SIGPIPE
OOMScoreAdjust=-1000
ExecStart=/usr/bin/rkt run \
  --insecure-options=all \
  --volume modules,kind=host,source=/lib/modules,readOnly=true \
  --mount volume=modules,target=/lib/modules \
  --volume dev,kind=host,source=/dev \
  --mount volume=dev,target=/dev \
  --volume neco,kind=host,source=/etc/neco,readOnly=true \
  --mount volume=neco,target=/etc/neco \
  {{ MyURL }}/api/v1/assets/%%omsa%% \
  --name omsa \
  --user-label name=omsa

[Install]
WantedBy=multi-user.target
