[Unit]
Description=OMSA container
Requires=setup-omsa.service docker.socket
After=setup-omsa.service docker.socket
ConditionVirtualization=!kvm

[Service]
Type=simple
Restart=on-failure
RestartForceExitStatus=SIGPIPE
TimeoutStartSec=0
OOMScoreAdjust=-1000
ExecStartPre=-/usr/bin/docker kill omsa
ExecStartPre=-/usr/bin/docker rm omsa
ExecStartPre=/usr/bin/curl -sfSL -o /tmp/%%omsa%img%% {{ MyURL }}/api/v1/assets/%%omsa%img%%
ExecStartPre=/usr/bin/docker load -i /tmp/%%omsa%img%%
ExecStart=/usr/bin/docker run \
  --name omsa \
  --label name=omsa \
  --mount type=bind,source=/lib/modules,target=/lib/modules,readonly \
  --mount type=bind,source=/dev,target=/dev \
  --mount type=bind,source=/etc/neco,target=/etc/neco,readonly \
  %%omsa%full%%

[Install]
WantedBy=multi-user.target
