[Unit]
Description=Load operator-generic container image
Wants=network-online.target
Requires=docker.service
After=network-online.target wait-k8s-containerd-socket.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/bin/load-containerd-image {{ MyURL }}/api/v1/assets/{{ Metadata "operator-generic.img" }} {{ Metadata "operator-generic.ref" }}
StandardOutput=journal+console
StandardError=journal+console


[Install]
WantedBy=multi-user.target

