[Unit]
Description=sabakan-cryptsetup
Wants=neco-wait-dhcp-online.service rngd.service
After=neco-wait-dhcp-online.service rngd.service
DefaultDependencies=no
FailureAction=reboot-immediate

[Service]
Type=oneshot
Environment=SABAKAN_URL={{ MyURL }}
ExecStart=/usr/bin/curl -sfSL -o /opt/sbin/sabakan-cryptsetup {{ MyURL }}/api/v1/cryptsetup
ExecStart=/bin/chmod a+x /opt/sbin/sabakan-cryptsetup
ExecStart=/opt/sbin/sabakan-cryptsetup
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console


[Install]
WantedBy=multi-user.target
