[Unit]
Description=Serf container on docker
Wants=neco.target exec-setup-hw.service
After=neco.target  exec-setup-hw.service
Requires=setup-serf.service docker.socket
After=setup-serf.service docker.socket
After=cke-images.service coil-image.service squid-image.service
ConditionPathExists=/etc/serf/serf.json

[Service]
Type=simple
Restart=always
RestartSec=10s
TimeoutStartSec=0
ExecStartPre=/bin/systemctl is-active -q exec-setup-hw.service
ExecStartPre=/bin/sh -c "/usr/bin/docker kill serf || true"
ExecStartPre=/bin/sh -c "/usr/bin/docker rm serf || true"
ExecStartPre=/opt/bin/load-image {{ MyURL }}/api/v1/assets/%%serf%img%% %%serf%full%%
ExecStart=/usr/bin/docker run \
  --name serf \
  --log-driver=journald \
  --read-only \
  --net=host \
  --mount type=bind,source=/etc/serf,target=/etc/serf,readonly \
  --hostname %H \
  %%serf%full%% \
    agent -config-file /etc/serf/serf.json

[Install]
WantedBy=multi-user.target
