[Unit]
Description=Serf container on docker
Wants=network-online.target exec-setup-hw.service
Requires=setup-serf.service docker.service time-sync.target
After=setup-serf.service docker.service coil-image.service cilium-image.service cilium-operator-generic-image.service hubble-relay-image.service cilium-certgen-image.service squid-image.service network-online.target exec-setup-hw.service time-sync.target
# cke images
After=cke-image-cke-tools.service cke-image-coredns.service cke-image-etcd.service cke-image-kubernetes.service cke-image-pause.service cke-image-unbound.service

ConditionPathExists=/etc/serf/serf.json

[Service]
Type=simple
Restart=always
RestartForceExitStatus=SIGPIPE
RestartSec=10s
TimeoutStartSec=600s
OOMScoreAdjust=-1000
ExecStartPre=/bin/systemctl is-active -q exec-setup-hw.service
ExecStartPre=-/usr/bin/docker kill serf
ExecStartPre=-/usr/bin/docker rm serf
ExecStartPre=/opt/bin/load-docker-image {{ MyURL }}/api/v1/assets/{{ Metadata "serf.img"}} {{ Metadata "serf.ref" }}
ExecStart=/usr/bin/docker run \
  --name serf \
  --log-driver=journald \
  --read-only \
  --net=host \
  --mount type=bind,source=/etc/serf,target=/etc/serf,readonly \
  --hostname %H \
  {{ Metadata "serf.ref" }} \
    agent -config-file /etc/serf/serf.json

[Install]
WantedBy=multi-user.target
