[Unit]
Description=Serf container on docker
Wants=neco.target exec-setup-hw.service
After=neco.target  exec-setup-hw.service
Requires=setup-serf.service docker.socket
After=setup-serf.service docker.socket
After=cke-images.service coil-image.service squid-image.service
ConditionPathExists=/etc/serf/serf.json

[Service]
Type=simple
Restart=always
RestartForceExitStatus=SIGPIPE
RestartSec=10s
TimeoutStartSec=600s
OOMScoreAdjust=-1000
ExecStartPre=/bin/systemctl is-active -q exec-setup-hw.service
ExecStartPre=-/usr/bin/docker kill serf
ExecStartPre=-/usr/bin/docker rm serf
ExecStartPre=/opt/bin/load-image {{ MyURL }}/api/v1/assets/{{ Metadata "serf.img"}} {{ Metadata "serf.ref" }}
ExecStart=/usr/bin/docker run \
  --name serf \
  --log-driver=journald \
  --read-only \
  --net=host \
  --mount type=bind,source=/etc/serf,target=/etc/serf,readonly \
  --hostname %H \
  {{ Metadata "serf.ref" }} \
    agent -config-file /etc/serf/serf.json

[Install]
WantedBy=multi-user.target
