[Unit]
Description=Setup hardware
Requires=omsa.service
Wants=omsa.service

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-hw
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
