[Unit]
Description=Setup filesystem for /var
Wants=lvm2-lvmetad.service lvm2-monitor.service rngd.service
Requires=sabakan-cryptsetup.service
After=lvm2-lvmetad.service sabakan-cryptsetup.service rngd.service
Before=lvm2-monitor.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-var
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console


[Install]
WantedBy=multi-user.target
