[Unit]
Description=Setup serf container
ConditionPathExists=!/etc/serf/serf.json

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-serf-conf
RemainAfterExit=yes
