[Unit]
Description=Setup network
ConditionPathExists=!/etc/bird
After=setup-var.service neco-dhcp-online.target
Wants=setup-var.service neco-dhcp-online.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/rkt fetch --insecure-options=image \
  {{ MyURL }}/api/v1/assets/%%bird%%
ExecStartPre=/opt/sbin/setup-local-network
ExecStart=/opt/sbin/setup-bird-conf
RemainAfterExit=yes
