[Unit]
Description=Download bmc-user.json
Before=setup-network.service
Wants=setup-network.service

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-bmc-user
RemainAfterExit=yes
