[Unit]
Description=Download bmc-user.json
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-bmc-user
RemainAfterExit=yes
