[Unit]
Description=Setup node exporter
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-node-exporter
RemainAfterExit=yes
