[Unit]
Description=Setup containerd for kubernetes
Wants=var-lib-k8s\x2dcontainerd.mount
After=var-lib-k8s\x2dcontainerd.mount

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-containerd
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console


[Install]
WantedBy=multi-user.target
