[Unit]
Description=setup-hw container
Requires=docker.socket
After=docker.socket

[Service]
Type=simple
Restart=on-failure
RestartForceExitStatus=SIGPIPE
TimeoutStartSec=0
OOMScoreAdjust=-1000
ExecStartPre=/bin/sh -c "/usr/bin/docker kill setup-hw || true"
ExecStartPre=/bin/sh -c "/usr/bin/docker rm setup-hw || true"
ExecStartPre=/opt/bin/load-image {{ MyURL }}/api/v1/assets/%%setup-hw%img%% %%setup-hw%full%%
ExecStart=/usr/bin/docker run \
  --name setup-hw \
  --log-driver=journald \
  --net=host --privileged \
  -v /dev:/dev \
  -v /lib/modules:/lib/modules:ro \
  -v /etc/neco:/etc/neco:ro \
  %%setup-hw%full%%

[Install]
WantedBy=multi-user.target
