[Unit]
Description=setup-hw container
Requires=docker.socket
Wants=neco.target
After=docker.socket neco.target

[Service]
Type=simple
Restart=on-failure
RestartForceExitStatus=SIGPIPE
TimeoutStartSec=600s
OOMScoreAdjust=-1000
ExecStartPre=-/usr/bin/docker kill setup-hw
ExecStartPre=-/usr/bin/docker rm setup-hw
ExecStartPre=/opt/bin/load-image {{ MyURL }}/api/v1/assets/{{ Metadata "setup-hw.img" }} {{ Metadata "setup-hw.ref" }}
ExecStart=/usr/bin/docker run \
  --name setup-hw \
  --log-driver=journald \
  --net=host --privileged \
  -v /dev:/dev \
  -v /lib/modules:/lib/modules:ro \
  -v /etc/neco:/etc/neco:ro \
  {{ Metadata "setup-hw.ref" }}

[Install]
WantedBy=multi-user.target
