[Unit]
Description=Set serf tags
Requires=serf.service
After=serf.service
PartOf=setup-serf-tags.timer

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-serf-tags
