[Unit]
Description=Setup network
Requires=var-lib-rkt.mount
After=var-lib-rkt.mount

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-local-network
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console
