[Unit]
Description=Set serf tags periodically
Wants=serf.service
After=serf.service

[Timer]
OnCalendar=minutely

[Install]
WantedBy=multi-user.target
