[Unit]
Description=Download bmc-user.json
Wants=neco.target
After=neco.target

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-bmc-user
RemainAfterExit=yes
