[Unit]
Description=Setup filesystem for /var
After=sabakan-cryptsetup.service
Requires=sabakan-cryptsetup.service
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-var
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
