[Unit]
Description=Setup chrony container
ConditionPathExists=!/etc/chrony.conf
After=setup-var.service
Before=setup-network.service
Wants=setup-network.service setup-var.service

[Service]
Type=oneshot
ExecStartPre=/usr/bin/rkt fetch --insecure-options=image \
  {{ MyURL }}/api/v1/assets/%%chrony%%
ExecStart=/opt/sbin/setup-chronyd-conf
RemainAfterExit=yes
