[Unit]
Description=Set serf tags periodically
Requires=serf.service
After=serf.service

[Timer]
OnCalendar=*-*-* *:*:0/20

[Install]
WantedBy=multi-user.target
