[Unit]
Description=Setup chrony container
ConditionPathExists=!/etc/chrony.conf
Wants=neco.target
Requires=var-lib-rkt.mount
After=var-lib-rkt.mount neco.target

[Service]
Type=oneshot
# This "fetch" must be separated from "run" because "fetch" uses the DHCP-configured network.
# "setup-network" after this unit reconfigures network, and "run" starts chrony to manage the reconfigured network.
ExecStartPre=/usr/bin/rkt fetch --insecure-options=image \
  {{ MyURL }}/api/v1/assets/%%chrony%aci%%
ExecStart=/opt/sbin/setup-chronyd-conf
RemainAfterExit=yes
