[Unit]
Description=Setup node exporter
Wants=neco.target
After=neco.target

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-node-exporter
RemainAfterExit=yes
