[Unit]
Description=Setup OMSA config
Before=setup-network.service
Wants=setup-network.service
ConditionVirtualization=!kvm

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-omsa
RemainAfterExit=yes
