[Unit]
Description=Setup serf container
ConditionPathExists=!/etc/serf/serf.json
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/sbin/setup-serf-conf
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console
