[Unit]
Description=Set serf tags
PartOf=setup-sert-tags.service
Wants=neco.target
Requires=serf.service
After=neco.target serf.service

[Timer]
OnCalendar=*-*-* *:*:0/20
Persistent=true

[Install]
WantedBy=multi-user.target
