[Unit]
Description=Load Squid container image
Wants=neco.target
Requires=docker.socket
After=neco.target docker.socket

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/bin/load-image {{ MyURL }}/api/v1/assets/%%squid%img%% %%squid%full%%

[Install]
WantedBy=multi-user.target
