[Unit]
Description=Request udev device events periodically
Wants=systemd-udevd.service
After=systemd-udevd-kernel.socket systemd-udevd-control.socket
Before=setup-var.service

[Timer]
OnCalendar=*-*-* *:*:00

[Install]
WantedBy=multi-user.target
