[Unit]
Description=Wait for containerd socket
Wants=k8s-containerd.service
After=k8s-containerd.service

[Service]
Type=oneshot
ExecStart=/opt/bin/wait-k8s-containerd-socket
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console


[Install]
WantedBy=multi-user.target
