apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - configmap.yaml
  - deployment.yaml
  - pdb.yaml
  - service.yaml
images:
  - name: ghcr.io/cybozu/squid
    newTag: 6.12.0.2
  - name: ghcr.io/cybozu/squid-exporter
    newTag: 1.0.7
  - name: ghcr.io/cybozu/unbound
    newTag: 1.20.0.2
  - name: ghcr.io/cybozu/unbound_exporter
    newTag: 0.4.6.2
